{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans "Stories & Blog" %} - Sip and SunShine{% endblock %}

{% block content %}
<!-- Hero Section -->
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_4.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">{% trans "Stories" %}</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'restaurant:home' %}">{% trans "Home" %} <i class="ion-ios-arrow-forward"></i></a></span> <span>{% trans "Blog" %} <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<!-- Blog Section -->
<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            {% for post in blog_posts %}
                {% if post.slug %}
                <div class="col-md-4 ftco-animate">
                    <div class="blog-entry">
                        {% if post.featured_image %}
                            <a href="{% url 'restaurant:blog-detail' slug=post.slug %}" class="block-20" style="background-image: url('{{ post.featured_image.url }}');"></a>
                        {% else %}
                            <a href="{% url 'restaurant:blog-detail' slug=post.slug %}" class="block-20" style="background-image: url('{% static 'images/image_'|add:forloop.counter|add:'.jpg' %}');"></a>
                        {% endif %}
                        <div class="text px-4 pt-3 pb-4">
                            <div class="meta">
                                <div><a href="#">{{ post.published_at|date:"b d, Y" }}</a></div>
                                <div><a href="#">{{ post.author }}</a></div>
                            </div>
                            <h3 class="heading"><a href="{% url 'restaurant:blog-detail' slug=post.slug %}">{{ post.title }}</a></h3>
                            <p class="clearfix">
                                <a href="{% url 'restaurant:blog-detail' slug=post.slug %}" class="float-left read">{% trans "Read more" %}</a>
                                <a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% empty %}
                <div class="col-md-12 text-center">
                    <p class="py-5">{% trans "No blog posts available at the moment." %}</p>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination -->
        {% if is_paginated %}
            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <div class="block-27">
                        <ul>
                            {% if page_obj.has_previous %}
                                <li><a href="?page=1">&lt;</a></li>
                                <li><a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                            {% endif %}
                            <li><span>{{ page_obj.number }}</span></li>
                            {% if page_obj.has_next %}
                                <li><a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                                <li><a href="?page={{ page_obj.paginator.num_pages }}">&gt;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
