@font-face {
  font-family: 'icomoon';
  src: url('icomoon.eot?srf3rx');
  src: url('icomoon.eot?srf3rx#iefix') format('embedded-opentype'),
    url('icomoon.ttf?srf3rx') format('truetype'),
    url('icomoon.woff?srf3rx') format('woff'),
    url('icomoon.svg?srf3rx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
